body {
	background-color: #e0e0eb;
}
li{
  padding-bottom: 15px; 
}
.intro {
	margin-top: -25px;
  font-size: 34px;
  font-weight: 300;
  line-height: 1.3;
  color: #2e3d49;
  text-align: center; }


label {
  margin-left: 5px;
    font-size: 28px;
  font-weight: 300;
  line-height: 1.3;
  color: #2e3d49;
  text-align: center;
  padding-right: 24px;
}

.resultplace {
font-size: 20px;
  font-weight: 300;
  line-height: 1.3;
  color: #2e3d49;
  text-align: center;
  margin-left: 520px;
  margin-top: -320px;
  border-style: solid;
  border-width: 2px;
  border-color: #ffcccc;
  border-radius: 2%;
}

.avatar {
	position: absolute;
	margin-top: -45px;
	margin-left: -600px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  top: 50px;
  left: calc(50% - 50px);
  }

  .buttons {
	margin-left: -810px;
	margin-top: 10px;
	border-radius: 20%;
	width: 380px;
	height: 500px;
	background: #fff;
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50% , -50%);
	box-sizing: border-box;
	padding: 60px 30px;
}

.avatar2 {
	position: absolute;
	margin-left: 175px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  top: 50px;
  left: calc(50% - 50px);
  }

#cv {
	margin-top: 115px;
}
#setting {
	margin-top: 218px;
}
#logout {
	margin-top: 332px;
}
#semesters {
  margin-top: -0px;
  margin-left: -40px;
}
.signupbox {
	margin-left: -60px;
	margin-top: 10px;
	border-radius: 10%;
	
	width: 732px;
	height: 520px;
	background: #fff;
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50% , -50%);
	box-sizing: border-box;
	padding: 60px 30px;
  overflow-y: auto;
  
}

#wanted {
  padding-top: 16px;
}
.fram {
	width: 33.5%;
	margin-top: 10px;
	margin-bottom: 5px;
	margin-left: 6px;
  height: 44px;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid #dbe2e8;
  font-size: 14px;
  box-shadow: 0 2px 2px 0 rgba(46, 60, 73, 0.05);
  border-radius: 2px;
  color: #2e3d49; }
  .fram:active, .fram:focus {
    outline: none;
    border-color: #ff1a1a; }
  /*guid words*/
  .fram::placeholder {
    color: #ff9999; }

    .frame {
    	margin-top: -10px;
    	margin-left: -34px;
	width: 34%;
  height: 36px;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid #dbe2e8;
  font-size: 14px;
  box-shadow: 0 2px 2px 0 rgba(46, 60, 73, 0.05);
  border-radius: 2px;
  color: #2e3d49; }
  .frame:active, .frame:focus {
    outline: none;
    border-color: #ff1a1a; }
  /*guid words*/
  .frame::placeholder {
    color: #ff9999; }

#A {
	position: absolute;
	width: 12%;
	margin-left: 140px;
	margin-top: -36px;
}
#B {
	position: absolute;
	width: 12%;
	margin-left: 248px;
	margin-top: -36px;
}

/*button*/
.color {
	margin-top: 20px;
  margin-left: 80px;
  width: 25%; }
.color {
  background: #ff0000; }
  /*background*/
  .color:focus:not(:disabled), .color:hover:not(:disabled) {
    background: #e60000; }

.button {
  border: none;
  border-radius: 10px;
  box-shadow: 12px 15px 20px rgba(0, 0, 0, 0.1);
  /*color el text in the button*/
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.165em;
  max-width: 100%;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: uppercase;
  transition: 0.2s box-shadow ease-in-out, 0.2s background-color ease-in-out, 0.2s border-color ease-in-out;
  white-space: nowrap; }
.button:focus, .button:hover {
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.1); }
  
.bSize {
  /*text place*/
  padding: 1.2em 2em; }




.semester {
	border-style: solid;
	border-width: 2px;
	border-color: #ffcccc;
	border-radius: 1%;
  width: 75%;
}

.form {
	margin-left: 10px;
	margin-top: 10px;
}

.addcor {
  width: 34%;
  margin-bottom: 20px;
  margin-left: 154px;
}
#st {
	margin-top: 20px;
	margin-left: 250px;
}

/* Style the close button */
.close {
  position: absolute;
  margin-left: 370px;
  margin-top: -35px;
  color: #fff;
  border-radius: 50%;
  cursor: pointer;
 /* position: relative;*/
  right: 0;
  top: 0;
  margin-right: 265px;
  background: #ff0000;
  padding: 8px 12px 8px 12px;

}

.close:hover {
background: #e60000;
  color: black;
}








/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #ff0000;; 
    border-radius: 10px;
    
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #e60000; 
}







