body {
	background-color: #e0e0eb;
}

.avatar {
	position: absolute;
	margin-top: -45px;
	margin-left: -600px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  top: 50px;
  left: calc(50% - 50px);
  }

.todo {
	margin-left: -280px;
	margin-top: 10px;
	border-radius: 10%;
	width: 400px;
	height: 500px;
  max-height: 500px;
	background: #fff;
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50% , -50%);
	box-sizing: border-box;
	padding: 60px 30px;
}
.tobe {
  overflow-y: auto;
  max-height: 300px;
}
.intro {
	position: left;
	margin-top: -60px;
  font-size: 22px;
  font-weight: 300;
  line-height: 1.3;
  color: #2e3d49;
  }

.fram {
	position: absolute;
	  height: 44px;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid #dbe2e8;
  font-size: 14px;
  box-shadow: 0 2px 2px 0 rgba(46, 60, 73, 0.05);
  border-radius: 2px;
  color: #2e3d49; }
  .fram:active, .fram:focus {
    outline: none;
    border-color: #ff1a1a; }
  .fram::placeholder {
    color: #ff9999; }

/*button*/
.color {
	margin-top: 20px;
  margin-left: 80px; }
.color {
  background: #ff0000; }
  /*background*/
  .color:focus:not(:disabled), .color:hover:not(:disabled) {
    background: #e60000; }

.button {
	margin-left: 220px;
	margin-top: 0px;
  border: none;
  border-radius: 10px;
  box-shadow: 12px 15px 20px rgba(0, 0, 0, 0.1);
  /*color el text in the button*/
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.165em;
  max-width: 100%;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  text-transform: uppercase;
  transition: 0.2s box-shadow ease-in-out, 0.2s background-color ease-in-out, 0.2s border-color ease-in-out;
  white-space: nowrap; }
.button:focus, .button:hover {
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.1); }
  
.bSize {
  /*text place*/
  padding: 1.2em 4em; }

.list li{
	position: relative;
  list-style-type: none;
	cursor: pointer;
	margin-left: -40px;
    padding: 10px 8px 8px 40px;
	color: #2e3d49;
    font-size: 18px;
    transition: 0.2s;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.list li:hover {
  background: #ffe6e6;
}
/* When clicked on, add a background color and strike out text */
.list li.checked {
  background: #ffb3b3;
  color: black;
  text-decoration: line-through;
}
/* Add a "checked" mark when clicked on */
.list li.checked::before {
  content: '';
  position: absolute;
  border-color: #ff0000;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}


/* Style the close button */
.close {
	color: #fff;
	margin-top: 1px;
	border-radius: 50%;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 5px;
  background: #ff0000;
  padding: 8px 12px 8px 12px;
}

.close:hover {
background: #e60000;
  color: black;
}
























.courses {
	margin-left: 280px;
	margin-top: -115px;
	border-radius: 10%;
	width: 600px;
	height: 245px;
	background: #fff;
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50% , -50%);
	box-sizing: border-box;
	padding: 60px 30px;
}

.projects {
	margin-left: 280px;
	margin-top: 140px;
	border-radius: 10%;
	width: 600px;
	height: 245px;
	background: #fff;
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50% , -50%);
	box-sizing: border-box;
	padding: 60px 30px;
}

#projectinput {
  margin-left: 150px;
  margin-top: -66px;
}

/*to hide choose file label*/
[type=file] {
  width: 100%;
  visibility: hidden;
  margin-left: 10px;
    filter: alpha(opacity=0);
    opacity: 3;
}
/*label add picture to be like a button*/
#icon {
  width: 32px;
  height: 15px;
   border: none;
  border-radius: 10px;
  box-shadow: 12px 15px 20px rgba(0, 0, 0, 0.1);
  /*color el text in the button*/
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 0.165em;
  max-width: 100%;
  overflow: hidden;
  text-transform: uppercase;
  transition: 0.2s box-shadow ease-in-out, 0.2s background-color ease-in-out, 0.2s border-color ease-in-out;
  white-space: nowrap;
  padding: 1.2em 4em;
  background: #ff0000;
}
#icon:focus:not(:disabled), #icon:hover:not(:disabled) {
    background: #e60000; }
    #icon:focus, #icon:hover {
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.1); }
#icon {
    margin-left: 380px;
    margin-top: -70px;
    margin-bottom: 42px;
   }

#h5ah {
  margin-bottom: 2px;
}

.list_pro li{
  position: relative;
  list-style-type: none;
  cursor: pointer;
  margin-left: -40px;
    padding: 10px 8px 8px 40px;
  color: #2e3d49;
    font-size: 18px;
    transition: 0.2s;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.list_pro li:hover {
  background: #ffe6e6;
}
/* When clicked on, add a background color and strike out text */
.list_pro li.checked {
  background: #ffb3b3;
  color: black;
  text-decoration: line-through;
}
/* Add a "checked" mark when clicked on */
.list_pro li.checked::before {
  content: '';
  position: absolute;
  border-color: #ff0000;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.pro {
  overflow-y: auto;
  max-height: 150px;
  margin-top: -50px;
}


























.buttons {
	margin-left: -810px;
	margin-top: 10px;
	border-radius: 20%;
	width: 380px;
	height: 500px;
	background: #fff;
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50% , -50%);
	box-sizing: border-box;
	padding: 60px 30px;
}

.avatar2 {
	position: absolute;
	margin-left: 175px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  top: 50px;
  left: calc(50% - 50px);
  }

#cv {
	margin-top: 115px;
}
#setting {
	margin-top: 218px;
}
#logout {
	margin-top: 332px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #ff0000;; 
    border-radius: 10px;
    
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #e60000; 
}


















